@tailwind base;
@tailwind components;
@tailwind utilities;

.bounding-box {
  position: absolute;
  box-shadow: 0 0 0 3px #3b82f6 inset;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  cursor: pointer;
}
